.Header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 70px;

   .header {
      font-size: 1.5em;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
   }

   .theme-switch-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: var(--primary-gray);
      border: none;
      font-size: 0.9em;
      font-weight: 500;
      cursor: pointer;
      padding: 0.2em 0.8em;
      margin-right: 0.5em;

      i {
         font-size: 1.2em;
         margin-right: 0.5em;
      }

      &:hover {
         background: var(--primary-gray-dark);
      }
   }
}