.Playground {
   display: flex;
   max-height: 90vh;
   min-height: 90vh;

   @media screen and (max-width: 850px) {
      max-height: 95vh;
   }

   .chat-pane {
      display: flex;
      flex-direction: column;
      width: clamp(200px, 85vw, 300px);
      min-height: 90vh;
      max-height: 90vh;
      background-color: var(--black-lighter);
      border-radius: 0 10px;
      margin-right: 1.5em;
      transition: width 0.3s ease-in-out;
      overflow: hidden;

      &.hide {
         margin-right: 0;
         width: 0;
      }

      // hide the sidebar when the screen is too small
      @media screen and (max-width: 850px) {
         overflow: hidden;
         position: absolute;
         margin-right: 0;
         left: 0;
         width: 0;
         z-index: 1000;
         border-radius: 10px;

         .content {
            padding: 0.6em;
         }
      }

      .content {
         display: flex;
         flex-direction: column;
         width: clamp(200px, 85vw, 300px);
         min-height: 90vh;
         max-height: 90vh;
         background-color: var(--black-lighter);
         border-radius: 0 10px 10px 0;
         border: 1px solid rgba(255, 255, 255, 0.15);

         @media screen and (max-width: 850px) {
            max-height: 90vh;
         }

         .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5em;

            h6 {
               font-size: 1em;
               margin-top: 10px;
               margin-left: 1em;
            }

            .action-buttons {
               display: flex;

               .new-chat-btn,
               .close-btn {
                  &:hover .tooltip {
                     visibility: visible;
                     opacity: 1;
                  }
               }

               .new-chat-btn {
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  margin-right: 0.5em;
                  padding: 0;
                  cursor: pointer;

                  i {
                     font-size: 1.2em;
                     padding: 0.2em;
                     padding-right: 0.3em;
                  }

                  .tooltip {
                     font-size: 0.8em;
                     transform: translate(-18px, -65px);
                  }

                  &:hover {
                     background: var(--primary-gray-dark);
                  }
               }

               .close-btn {
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  margin-right: 0.5em;
                  padding: 0;
                  cursor: pointer;

                  i {
                     font-size: 1.2em;
                     padding: 0.2em;
                     padding-right: 0.3em;
                  }

                  .tooltip {
                     font-size: 0.8em;
                     transform: translate(-15px, -65px);
                  }

                  &:hover {
                     background: var(--primary-gray-dark);
                  }
               }
            }
         }

         .divider {
            height: 1px;
            margin: 0.5em 0;
         }
      }
   }

   .editor-pane {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex: 1;
      margin-right: 0.5em;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .editor-header {
         display: flex;
         width: 100%;
         justify-content: space-between;

         .tab-container {
            display: flex;
            flex: 1;
         }

         .action-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 0.5em;

            .chat-btn,
            .download-btn,
            .run-btn,
            .stop-btn {
               border-radius: 8px;
               background: transparent;
               border: none;
               width: fit-content;
               height: fit-content;
               max-height: 2.5rem;
               padding: 0.5em;
               padding-top: 0em;
               padding-bottom: 0em;
               margin-right: 0.3em;

               .icon {
                  font-size: 1.2em;
                  padding: 0em;
               }

               &:hover .tooltip {
                  visibility: visible;
                  opacity: 1;
               }

               &:hover {
                  background: var(--primary-gray-dark);
               }
            }

            .chat-btn {
               .tooltip {
                  transform: translate(-25px, -65px);
               }
            }

            .stop-btn {
               display: none;

               .icon {
                  color: red;
               }

               .tooltip {
                  transform: translate(-8px, -65px);
               }

               &:disabled {
                  background-color: transparent;
                  cursor: default;

                  .icon {
                     color: var(--primary-gray-dark);
                  }
               }
            }

            .run-btn {
               .tooltip {
                  transform: translate(-22px, -65px);
               }
            }

            .download-btn {
               .tooltip {
                  transform: translate(-35px, -65px);
               }
            }
         }
      }

      .editor-container {
         display: flex;
         width: 100%;
         max-height: 90vh;
         overflow-y: auto;
         background-color: var(--black-lighter);
         border-radius: 0 10px;
         border: 1px solid rgba(255, 255, 255, 0.15);
      }
   }

   .tooltip::after {
      content: "";
      position: absolute;
      top: 95%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
   }

   .tooltip {
      position: absolute;
      width: max-content;
      visibility: hidden;
      justify-content: center;
      background-color: white;
      color: black;
      text-align: center;
      padding: 5px;
      border-radius: 7px;
      transition: opacity 0.3s;
      font-size: 0.65em;
      font-weight: 500;
      z-index: 1;
   }
}