.Playground {
   display: flex;
   max-height: 90vh;
   min-height: 90vh;

   @media screen and (max-width: 850px) {
      max-height: 80vh;
   }

   .side-pane-mini {
      display: flex;
      flex-direction: column;
      background-color: var(--black-lighter);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-right: none;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      @media screen and (max-width: 850px) {
         display: none;
      }

      .chat-btn {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0;
         background: transparent;
         padding-right: 0.5em;
         padding-top: 0.5em;
         padding-bottom: 0.3em;
         cursor: pointer;

         .indicator {
            transition: all 0.2s ease-in-out;
            width: 3px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 50px;
         }

         .icon {
            font-size: 1.7em;
            margin-left: 0.3em;
            color: gray;
         }

         &.active {
            .icon {
               color: var(--white-light);
            }

            .indicator {
               background-color: var(--sophie-blue);
            }
         }

         &:hover .tooltip-side {
            visibility: visible;
            opacity: 1;
         }

         &:hover {
            .icon {
               color: var(--white-light);
            }
         }
      }

      .chat-btn {
         .tooltip-side {
            transform: translate(50px, 0px);
         }
      }
   }

   .side-pane {
      display: flex;
      flex-direction: column;
      width: clamp(200px, 85vw, 310px);
      min-height: 90vh;
      max-height: 90vh;
      background-color: var(--black-lighter);
      margin-right: 1.5em;
      transition: width 0.3s ease-in-out;
      overflow: hidden;

      &.hide {
         margin-right: 0;
         width: 0;
      }

      // hide the sidebar when the screen is too small
      @media screen and (max-width: 850px) {
         display: none;
      }

      .content {
         display: flex;
         flex-direction: column;
         width: clamp(200px, 85vw, 300px);
         min-height: 90vh;
         max-height: 90vh;
         background-color: var(--black-lighter);
         border-radius: 0 10px 10px 0;
         border: 1px solid rgba(255, 255, 255, 0.15);

         @media screen and (max-width: 850px) {
            max-height: 90vh;
         }

         .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5em;

            h6 {
               font-size: 1em;
               margin-top: 10px;
               margin-left: 1em;
            }

            .action-buttons {
               display: flex;

               .reset-btn {
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  margin-right: 0.5em;
                  padding: 0;
                  cursor: pointer;

                  i {
                     font-size: 1.2em;
                     padding: 0.2em;
                     padding-right: 0.3em;
                  }

                  .tooltip {
                     transform: translate(-7px, -65px);
                  }

                  &:hover .tooltip {
                     visibility: visible;
                     opacity: 1;
                  }

                  &:hover {
                     background: var(--primary-gray-dark);
                  }
               }
            }
         }

         .divider {
            height: 1px;
            margin: 0.5em 0;
         }
      }
   }

   .editor-pane {
      position: relative;
      width: 100%;
      min-height: 100%;
      display: flex;
      flex: 1;
      margin-right: 0.5em;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .editor-header {
         display: flex;
         width: 100%;
         justify-content: space-between;

         .tab-container {
            display: flex;
            flex: 1;
         }

         .action-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 0.5em;

            .terminal-btn,
            .save-btn,
            .run-btn,
            .stop-btn {
               border-radius: 8px;
               background: transparent;
               border: none;
               width: fit-content;
               height: fit-content;
               max-height: 2.5rem;
               padding: 0.5em;
               padding-top: 0em;
               padding-bottom: 0em;
               margin-right: 0.3em;

               .icon {
                  font-size: 1.2em;
                  padding: 0em;
               }

               &:hover .tooltip {
                  visibility: visible;
                  opacity: 1;
               }

               &:hover {
                  background: var(--primary-gray-dark);
               }
            }

            .stop-btn {
               display: none;

               .icon {
                  color: red;
               }

               .tooltip {
                  transform: translate(-8px, -35px);
               }

               &:disabled {
                  background-color: transparent;
                  cursor: default;

                  .icon {
                     color: var(--primary-gray-dark);
                  }
               }
            }

            .terminal-btn {
               .tooltip {
                  transform: translate(-20px, -65px);
               }
            }

            .run-btn {
               .tooltip {
                  transform: translate(-22px, -65px);
               }
            }

            .save-btn {
               .tooltip {
                  transform: translate(-20px, -65px);
               }
            }
         }
      }

      .containers {
         display: flex;
         flex-direction: column;
         width: 100%;
         height: 100%;
         overflow: hidden;

         .editor-container {
            display: flex;
            flex: 1;
            overflow: hidden;
            width: 100%;
            max-height: 90vh;
            overflow-y: auto;
            background-color: var(--black-lighter);
            border-radius: 0px 10px 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.15);
         }

         .terminal-container {
            display: none;
            height: 30%; // Adjust based on your preference
            background-color: #1e1e1e; // Terminal background color
            border-radius: 0 0 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-top: none;
            padding: 0.5em;
            overflow: hidden;

            .header {
               font-size: 0.8em;
               text-decoration: underline;
            }

            .terminal-content {
               overflow-y: auto;
               height: 100%;
            }
         }
      }
   }

   .tooltip::after {
      content: "";
      position: absolute;
      top: 95%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
   }

   .tooltip-side::after {
      content: "";
      position: absolute;
      top: 35%;
      left: -3%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent white transparent transparent;
   }

   .tooltip,
   .tooltip-side {
      position: absolute;
      width: max-content;
      visibility: hidden;
      justify-content: center;
      background-color: white;
      color: black;
      text-align: center;
      padding: 5px;
      border-radius: 7px;
      transition: opacity 0.3s;
      font-size: 0.8em;
      font-weight: 500;
      z-index: 1;
   }
}